@page "/room-seat/{Data}"
<!-- ==========Page-Title========== -->
@if (Data is not null)
{
    <section class="page-title bg-one" style="margin-top:11%;">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="movie-ticket-plan.html" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item">
                    @if (_showDateTime?.Count > 0)
                    {
                        <span class="date">@_showDateTime[0].ShowDateTime.ToString("MM/dd/yyyy")</span>
                    <div class="nice-select select-bar" tabindex="0">
                        <span class="current">select time</span>
                        <ul class="list">
                                @foreach (var item in _showDateTime)
                                {
                                    <li data-value="sc4" class="option">
                                        @item.ShowDateTime.ToString("h:mm tt")
                                    </li>
                                }
                            @*  <li data-value="sc1" class="option selected focus">09:40</li>
                        <li data-value="sc2" class="option">13:45</li>
                        <li data-value="sc3" class="option">15:45</li> *@
                        </ul>
                    </div>
                    }
                </div>
                @* <div class="item">
                    <h5 class="title">05:00</h5>
                    <p>Mins Left</p>
                </div> *@
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->
    <!-- ==========Movie-Section========== -->
    <div class="seat-plan-section padding-bottom padding-top">
        <div class="container">
            <div class="screen-area">
                <h4 class="screen">screen</h4>
                <div class="screen-thumb">
                    <img src="/theme/images/movie/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area">
                        @for(int i = 0; i <4; i++)
                        {
                            <li class="seat-line">
                                <span>G</span>
                                <ul class="seat--area">
                                    <li class="front-seat">
                                        <ul>
                                            @for (int first = 0; first < 4; first++)
                                            {
                                                <li class="single-seat">
                                                    <img src="/theme/images/movie/seat01.png" alt="seat">
                                                    <span class="sit-num">@(singleCounter++)</span>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="front-seat">
                                        <ul>
                                            @for (int second = 0; second < 6; second++)
                                            {
                                                <li class="single-seat seat-free">
                                                    <img src="/theme/images/movie/seat01-free.png" alt="seat">
                                                    <span class="sit-num">@(singleCounter++)</span>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="front-seat">
                                        <ul>
                                            @for (int third = 0; third < 4; third++)
                                            {
                                                <li class="single-seat seat-free">
                                                    <img src="/theme/images/movie/seat01-free.png" alt="seat">
                                                    <span class="sit-num">@(singleCounter++)</span>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <span>G</span>
                            </li>
                        }
                    </ul>
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area couple">
                        <li class="seat-line">
                            <span>e</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>e</span>
                        </li>
                        <li class="seat-line">
                            <span>d</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-booked.png" alt="seat">
                                            <span class="sit-num">D7 D8</span>
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>d</span>
                        </li>
                        <li class="seat-line">
                            <span>c</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">f11 f12</span>
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>c</span>
                        </li>
                        <li class="seat-line">
                            <span>b</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">b7 b8</span>
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                        <li class="single-seat">
                                            <img src="/theme/images/movie/seat02.png" alt="seat">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>b</span>
                        </li>
                        <li class="seat-line">
                            <span>a</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a1 a2</span>
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a3 a4</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a5 a6</span>
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a7 a8</span>
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a9 a10</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a11</span>
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <img src="/theme/images/movie/seat02-free.png" alt="seat">
                                            <span class="sit-num">a12</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>a</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="proceed-book bg_img" data-background="/theme/images/movie/movie-bg-proceed.jpg">
                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>You have Choosed Seat</span>
                        <h3 class="title">d9, d10</h3>
                    </div>
                    <div class="book-item">
                        <span>total price</span>
                        <h3 class="title">$150</h3>
                    </div>
                    <div class="book-item">
                        <a href="movie-checkout.html" class="custom-button">proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Movie-Section========== -->
}

@code {
    [Parameter]
    public CinemaRoomViewModel? Data { get; set; }
    //public string? Data { get; set; }
    private List<MovieShowDateTimeViewModel>? _showDateTime = null;
    private int singleCounter = 1;
    protected override async Task OnParametersSetAsync()
    {
        if (Data is not null)
            _showDateTime = await _dbService.GetMovieShowDate(Data.RoomId);
    }
}
