@page "/movie-card"
@inject PageChangeStateContainer StateContainer
@* @implements IDisposable *@

<PageBanner />
<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="./theme/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to Boleto </h6>
                        <h3 class="title">what are you looking for</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text"
                                   @bind-value="@title"
                                   placeholder="Search for Movies">
                            <button type="button" @onclick="()=>SearchMovie()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->

<section class="movie-section padding-top padding-bottom bg-two">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-9">
                <div class="article-section padding-bottom">
                    <div class="section-header-1">
                        <h2 class="title">movies</h2>
                        <a class="view-all" href="javascript:void(0);">View All</a>
                    </div>
                    <div class="row mb-30-none justify-content-start">
                        @if (_movieLst is { Count: > 0 })
                        {
                            foreach (var movie in _movieLst)
                            {
                                var image = $"/movie-cover/{@movie.MoviePhoto}";
                                <div class="col-sm-6 col-lg-4">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="javascript:void(0);" @onclick="()=>MovieData(movie)">
                                                <img src="@image" style="height:400px;" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="#0">@movie.MovieTitle</a>
                                            </h5>
                                            <ul class="mb-2">
                                                <li>
                                                    <span class="content">Release Date - @(movie.ReleaseDate.ToString("MMM-dd-yyyy"))</span>
                                                </li>
                                                <li>
                                                    <span class="content">Duration - @(movie.Duration) Hr</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-6 col-lg-4">
                                <p>Movie Not Found</p>
                            </div>
                        }
                    </div>
                    @if (_movieLst is not null && _movieLst.Count > 0)
                    {
                        <div class="d-flex flex-column align-center">
                            <MudPagination Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary"
                                           SelectedChanged="PageChanged"
                                           Count="@_pageCount" Class="my-4" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
