@page "/room-seat/{Data}"
@inject PageChangeStateContainer StateContainer
@implements IDisposable
<!-- ==========Page-Title========== -->
@if (Data is not null)
{
    <section class="page-title bg-one" style="margin-top:11%;">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="javascript:void(0);"
                       @onclick="BackToCinemaRoom"
                       class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item">
                    @if (_roomDetail?.movieData?.Count > 0)
                    {
                        <span class="date">@_roomDetail?.movieData?[0].ShowDateTime.ToString("MM/dd/yyyy")</span>
                        <div class="nice-select select-bar" tabindex="0">
                            <span class="current">select time</span>
                            <ul class="list">
                                @foreach (var item in _roomDetail?.movieData)
                                {
                                    <li data-value="sc4" class="option"
                                        @onclick="() => SelectedShowDate(item.ShowDateTime)">
                                        @item.ShowDateTime.ToString("h:mm tt")
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->
    <!-- ==========Movie-Section========== -->
    <div class="seat-plan-section padding-bottom padding-top">
        <div class="container">
            <div class="screen-area">
                <h4 class="screen">screen</h4>
                <div class="screen-thumb">
                    <img src="/theme/images/movie/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area">
                        @foreach (var rowName in _roomDetail.rowNameData)
                        {
                            <li class="seat-line">
                                <span>@rowName</span>
                                <ul class="seat--area">
                                    <li class="front-seat">
                                        <ul>
                                            @foreach (var seat in _roomDetail.roomSeatData)
                                            {
                                                if (seat.RowName == rowName)
                                                {
                                                    if (seat.SeatNo != "null")
                                                    {
                                                        foreach (var item in _bookingData)
                                                        {
                                                            if (seat.SeatNo == item.SeatNo && seat.SeatType == "single")
                                                            {
                                                                selectedSingle = "seat01-free.png";
                                                            }
                                                            else if (seat.SeatNo == item.SeatNo && seat.SeatType == "couple")
                                                            {
                                                                selectedCouple = "seat02-booked.png";
                                                            }
                                                        }

                                                        <li class="single-seat @(seat.SeatType == "couple" ? "couple" : "")">
                                                            @if (!string.IsNullOrWhiteSpace(selectedSingle) || !string.IsNullOrWhiteSpace(selectedCouple))
                                                            {
                                                                <img src="/theme/images/movie/@(seat.SeatType == "couple" ? selectedCouple : selectedSingle)"
                                                                     @onclick="() => ToBookingList(seat)"
                                                                     alt="seat">
                                                            }
                                                            else
                                                            {
                                                                <img src="/theme/images/movie/@(seat.SeatType == "couple" ? "seat02.png" : "seat01.png")"
                                                                     @onclick="() => ToBookingList(seat)"
                                                                     alt="seat">
                                                            }
                                                            <span class="sit-num">@rowName@seat.SeatNo</span>
                                                        </li>
                                                        selectedCouple = null;
                                                        selectedSingle = null;
                                                    }
                                                    else
                                                    {
                                                        <li class="single-seat" style="padding-left: 8%;">
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <span>@rowName</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Chosen Seats -->
            <div class="proceed-book bg_img" data-background="/theme/images/movie/movie-bg-proceed.jpg">

                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>You have Chosen Seat</span>
                    </div>
                    <div class="book-item">
                        <span>Seat price</span>
                    </div>
                </div>

                @if (_bookingData is not null && _bookingData is { Count: > 0 })
                {
                    foreach (var item in _bookingData)
                    {
                        <div class="proceed-to-book me-2">
                            <div class="book-item">
                                <h5 class="title">@item.RowName@item.SeatNo</h5>
                            </div>
                            <div class="book-item">
                                <h3 class="title">@item.SeatPrice.ToString("n0")</h3>
                            </div>
                        </div>
                    }
                }

                <div class="proceed-to-book my-2 justify-content-end">
                    <a href="javascript:void(0);" @onclick="SetBookingVoucher" class="custom-button">proceed</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ==========Movie-Section========== -->
}
